documentation/schemas/srophe.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:srophe="https://srophe.app">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI Customization for the Srophé Application</title>
        <editor role="creator" ref="http://syriaca.org/documentation/editors.xml#dschwartz">Daniel L. Schwartz</editor>
      </titleStmt>
      <editionStmt>
        <edition n="0.9"/>
      </editionStmt>
      <publicationStmt>
        <authority>Syriaca.org: The Syriac Reference Portal</authority>
        <availability>
          <licence target="http://creativecommons.org/licenses/by/3.0/">
            <p>Distributed under a Creative Commons Attribution 3.0 Unported License.</p>
            <p>The code examples contained in <gi>exemplum</gi> elements below come from 
              Syriaca.org projects that have been distributed under a Creative Commons Attribution 
              3.0 Unported License. Used by permission.</p>
            <p>The comments on element and attribute use contained in <gi>remarks</gi> elements below 
              share some text with other Syriaca.org documentation distributed under a Creative Commons 
              Attributiion 3.0 Unported License. This documentation can be found at various links available here:
              <ref target="http://syriaca.org/documentation/index.html">http://syriaca.org/documentation/index.html</ref>
              Used by permission.
            </p>
          </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>This ODD provides a customization of the TEI P5 All.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>


      <schemaSpec ident="srophe" prefix="tei_" start="TEI" xml:lang="en" defaultExceptions="http://www.tei-c.org/ns/1.0 teix:egXML​ http://www.example.org/ns/">
        <moduleRef key="tei"/>
        <moduleRef key="certainty" include="precision"/>
        <moduleRef key="core" include="abbr author bibl biblScope choice citedRange corr date desc editor expan foreign label listBibl measure name note orig p ptr quote reg ref resp respStmt sic title"/>
        <moduleRef key="dictionaries" include="entryFree"/>
        <moduleRef key="header" include="authority availability catDesc category change classDecl edition editionStmt editorialDecl encodingDesc fileDesc funder idno interpretation langUsage licence principal profileDesc publicationStmt revisionDesc seriesStmt sourceDesc sponsor taxonomy teiHeader titleStmt"/>
        <moduleRef key="linking" include="link"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="namesdates" include="addName bloc country death district event forename geo listPerson listPlace listRelation location offset persName person place placeName region relation roleName settlement sex state surname"/>
        <moduleRef key="tagdocs" include="gi"/>
        <moduleRef key="textcrit"/>
        <moduleRef key="transcr"/>
        <moduleRef key="textstructure" include="back body div front TEI text"/>
        
        
        <classSpec type="atts" ident="att.global.analytic" mode="add">
          <desc>I have needed to include this because it somehow disappeared from this
            customization. I do not know why this was necessary.</desc>
          <attList>
            <attDef ident="ana" mode="add">
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>


        <classSpec ident="att.global" mode="change" type="atts" source="tei">
          <attList>
            <attDef ident="srophe:tags" ns="https://srophe.app" mode="add">
              <desc>Specialized attributes specific to the functions performed by the Srophé
                App.</desc>
              <datatype maxOccurs="unbounded" minOccurs="1">
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>

        <classSpec ident="att.datable" mode="change" type="atts" source="tei">
          <attList>
            <attDef ident="srophe:computed-start" ns="https://srophe.app" mode="add">
              <desc>Start date</desc>
              <datatype maxOccurs="unbounded" minOccurs="1">
                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
              </datatype>
            </attDef>
            <attDef ident="srophe:computed-end" ns="https://srophe.app" mode="add">
              <desc>End date</desc>
              <datatype maxOccurs="unbounded" minOccurs="1">
                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>



        <elementSpec ident="teiHeader" module="header" mode="change">
          <content>
            <sequence minOccurs="1" maxOccurs="1" preserveOrder="true">
              <elementRef key="fileDesc" minOccurs="1" maxOccurs="1"/>
              <elementRef key="encodingDesc" minOccurs="1" maxOccurs="1"/>
              <elementRef key="profileDesc" minOccurs="1" maxOccurs="1"/>
              <elementRef key="revisionDesc" minOccurs="1" maxOccurs="1"/>
            </sequence>
          </content>
          <remarks mode="add">
            <p> Every <gi>teiHeader</gi> element contains a <gi>fileDesc</gi> element (information
              about the creation of a file), an <gi>encodingDesc</gi> element (editorial rules), a
                <gi>profileDesc</gi> element (non-bibliographic aspects of a text), and a
                <gi>revisionDesc</gi> element (history of revisions). </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="fileDesc" module="header" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="titleStmt" minOccurs="1" maxOccurs="1"/>
              <elementRef key="editionStmt" minOccurs="1" maxOccurs="1"/>
              <elementRef key="publicationStmt" minOccurs="1" maxOccurs="1"/>
              <elementRef key="seriesStmt" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="sourceDesc" minOccurs="1" maxOccurs="1"/>
            </sequence>
          </content>
          <remarks mode="add">
            <p> Each <gi>fileDesc</gi> element contains (in order) a <gi>titleStmt</gi>, an
                <gi>editionStmt</gi>, a <gi>publicationStmt</gi>, an optional <gi>seriesStmt</gi>,
              and a <gi>sourceDesc</gi>. </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="titleStmt" module="header" mode="change">
          <content>
            <sequence minOccurs="1" maxOccurs="1" preserveOrder="true">
              <elementRef key="title" minOccurs="1" maxOccurs="unbounded"/>
              <elementRef key="sponsor" minOccurs="0" maxOccurs="unbounded"/><!-- required in syriacaAll -->
              <elementRef key="funder" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="principal" minOccurs="0" maxOccurs="unbounded"/><!-- deleted in syriacaAll -->
              <elementRef key="editor" minOccurs="1" maxOccurs="unbounded"/>
              <elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded"/><!-- required in syriacaAll -->
            </sequence>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <titleStmt>
                <title level="a" xml:lang="en">Van</title>
                <sponsor>Syriaca.org: The Syriac Reference Portal</sponsor>
                <funder>The National Endowment for the Humanities</funder>
                <funder>The International Balzan Prize Foundation</funder>
                <editor role="creator" ref="http://syriaca.org/documentation/editors.xml#tcarlson">Thomas A. Carlson</editor>
                <respStmt>
                  <resp>Data merging, Pleiades and Wikipedia linking, and XML by</resp>
                  <name ref="http://syriaca.org/documentation/editors.xml#tcarlson">Thomas A.
                    Carlson</name>
                </respStmt>
                <respStmt>
                  <resp>Wilmshurst index information entry by</resp>
                  <name ref="http://syriaca.org/documentation/editors.xml#adavis">Anthony
                    Davis</name>
                </respStmt>
              </titleStmt>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> Each <gi>titleStmt</gi> element contains (in order) one or more <gi>title</gi>
              elements, optional <gi>sponsor</gi> elements, optional <gi>funder</gi> elements,
              optional <gi>principal</gi> elements, one or more <gi>sourceDesc</gi> elements, and
              optional <gi>respStmt</gi> elements. </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="classDecl" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and
                      disambiguation. These names have been created according to the Syriac.org
                      guidelines for headwords: <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.</catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>classDecl</gi> contains one or more taxonomies defining any classificatory
              codes used elsewhere in the text. There are various tags which Syriaca.org uses to
              mark elements for a variety of purposes. Syriaca.org’s preferred name forms are tagged
              with "syriaca-headword", for example. </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="taxonomy" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and
                      disambiguation. These names have been created according to the Syriac.org
                      guidelines for headwords: <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.</catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>taxonomy</gi> contains one or more taxonomies defining any classificatory
              codes used elsewhere in the text. There are various tags which Syriaca.org uses to
              mark elements for a variety of purposes. Syriaca.org’s preferred name forms are tagged
              with "syriaca-headword", for example. </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="category" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and
                      disambiguation. These names have been created according to the Syriac.org
                      guidelines for headwords: <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.</catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>category</gi> has an <att>xml:id</att> attribute whose value is the tag.
              Within the <gi>category</gi> element is a <gi>catDesc</gi> element which contains a
              brief prose description of the category’s purpose.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="catDesc" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and
                      disambiguation. These names have been created according to the Syriac.org
                      guidelines for headwords: <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.</catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>catDesc</gi> contains a brief prose description of the category’s
              purpose.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="revisionDesc" module="header" mode="change">
          <content>
            <elementRef key="change" minOccurs="0" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="status" mode="replace" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="draft">
                  <gloss>draft</gloss>
                  <desc>Indicates that this document is more-or-less complete but remains in draft
                    status.</desc>
                </valItem>
                <valItem ident="incomplete">
                  <gloss>incomplete</gloss>
                  <desc>Indicates that this document is incomplete.</desc>
                </valItem>
                <valItem ident="published">
                  <gloss>published</gloss>
                  <desc>Indicates that this document has been published.</desc>
                </valItem>
                <valItem ident="underReview">
                  <gloss>under review</gloss>
                  <desc>Indicates that this document is under review by one or more editors.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <revisionDesc status="published">
                <change who="http://syriaca.org/documentation/editors.xml#wsalesky" when="2014-06-30-04:00">CHANGED tei:author element to tei:persName under tei:event
                  element.</change>
                <change who="http://syriaca.org/documentation/editors.xml#tcarlson" when="2014-06-12-05:00">ADDED: Yaqut citation and attestation</change>
                <change who="http://syriaca.org/documentation/editors.xml#wsalesky" when="2014-01-14">ADDED: relation element with shares-name-with attribute for all
                  place headwords that share names</change>
                <change who="http://syriaca.org/documentation/editors.xml#wsalesky" when="2014-01-14">ADDED: syriaca-computed-start and syriaca-computed-end
                  attributes for searching</change>
                <change who="http://syriaca.org/documentation/editors.xml#tcarlson" when="2013-12-18-05:00">CREATED: place</change>
              </revisionDesc>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> The <gi>revisionDesc</gi> element is used to include a detailed log of which changes
              have been made to this file, when, and by whom. The <gi>revisionDesc</gi> should have
              a <att>status</att> attribute which indicates the publication stage of the file.
              Possible values for this attribute include: “draft,” “incomplete,” “published,” and
              “underReview”. Each revision contains a <gi>change</gi> element. </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="change" module="header" mode="change">
          <attList>
            <attDef ident="when" mode="change" usage="req"/>
            <attDef ident="who" mode="change" usage="req"/>
            <attDef ident="n" mode="change" usage="opt"/>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <revisionDesc>
                <change when="2013-04-15" who="http://syriaca.org/documentation/editors.xml#ngibson" n="1.1"> ADDED: Pleiades coordinates</change>
                <change when="2013-04-01" who="http://syriaca.org/documentation/editors.xml#dmichelson"> FIXED: Ufra to
                  Urfa</change>
                <change when="2013-03-16" who="http://syriaca.org/documentation/editors.xml#tcarlson" n="1.0"> ADDED:
                  teiHeader/revisionDesc</change>
                <change when="2013-03-15" who="http://syriaca.org/documentation/editors.xml#tcarlson"> ADDED:
                  teiHeader</change>
                <change when="2013-03-01" who="http://syriaca.org/documentation/editors.xml#tcarlson" n="0.1"> CREATED:
                  place</change>
              </revisionDesc>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>change</gi> element takes attributes <att>when</att> and <att>who</att> which
              indicate the date of the change and the person who made the change. The value of
                <att>when</att> is a date in "yyyy-mm-dd" format, whereas <att>who</att> will have
              the value of an <att>xml:id</att> attribute from
              "http://syriaca.org/documentation/editors.xml" - the list of editors. An optional
                <att>n</att> attribute whose value is a version number can indicate that this change
              advanced the version number (given in the <gi>editionStmt</gi> within the
                <gi>fileDesc</gi> element). The contents of the <gi>change</gi> element describe the
              revision that was made.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="respStmt" module="header" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="resp" minOccurs="1" maxOccurs="1"/>
              <alternate>
                <elementRef key="orgName" minOccurs="1" maxOccurs="1"/>
                <elementRef key="name" minOccurs="1" maxOccurs="1"/>
              </alternate>
            </sequence>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <titleStmt> ... <respStmt>
                  <resp>Data merging, Pleiades and Wikipedia linking, and XML by</resp>
                  <name ref="http://syriaca.org/documentation/editors.xml#tcarlson">Thomas A.
                    Carlson</name>
                </respStmt>
                <respStmt>
                  <resp>Wilmshurst index information entry by</resp>
                  <name ref="http://syriaca.org/documentation/editors.xml#adavis">Anthony
                    Davis</name>
                </respStmt>
              </titleStmt>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <respStmt>
                <resp>These names were received as a dataset from E-Ktobe : manuscrits syriaques
                    (<ref target="http://syriac.msscatalog.org/">http://syriac.msscatalog.org/</ref>). Née sur l’initiative d'André Binggeli
                  (IRHT-CNRS), Françoise Briquel-Chatonnet (Orient et Méditerranée-CNRS), Muriel
                  Debié (EPHE) et Alain Desreumaux (Orient et Méditerranée-CNRS) dans le cadre du
                  programme SYRAB de l'ANR (Agence Nationale de la Recherche), la base e-ktobe est
                  actuellement placée sous la responsabilité scientifique d’André Binggeli et Emilie
                  Villey (Orient et Méditerranée-CNRS). Liste des collaborateurs contribuant ou
                  ayant contribué à l’alimentation de la base : Youssef Dergham (Bibliothèque du
                  patriarcat syro-catholique de Charfet), Margherita Farina (CNRS, Paris), Simone I.
                  M. Pratelli (U. de Constance), Flavia Ruani (U. de Gand) et Eleonora Serra (U. de
                  Pise).</resp>
                <orgName ref="http://syriac.msscatalog.org/">E-Ktobe : manuscrits
                  syriaques</orgName>
              </respStmt>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> Both the editors and other parties who are responsible for the creation of this TEI
              place record are then identified individually in <gi>respStmt</gi> elements
                (<gi>resp</gi> stands for "responsibility"). The schema requires the record have at
              least one <gi>respStmt</gi> which would describe the contribution of the
                <gi>editor</gi> with the <att>role</att>="creator". Most records will have multiple
                <gi>respStmt</gi> elements, especially in cases where there were contributions made
              by persons who do not fall into the available @role values. The contents of the
                <gi>respStmt</gi> element are the description of the responsibility wrapped in a
                <gi>resp</gi> element followed by the name of the responsible party contained in a
                <gi>name</gi> element or the name of the responsible organization in an
                <gi>orgName</gi> element. The <gi>name</gi> element should take a <att>ref</att>
              attribute which points to the <att>xml:id</att> of the editor within the "editors.xml"
              document. Additional participants in the creation of the file, for example by entering
              Syriac or Arabic text, can be given additional <gi>respStmt</gi> entries.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="editor" module="core" mode="change">
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <elementRef key="persName"/>
              <elementRef key="date"/>
              <textNode/>
            </alternate>
          </content>
          <constraintSpec ident="role-on-editor" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:teiHeader//tei:editor">
                <sch:assert test="./@role">A @role attribute is required on the &lt;editor&gt;
                  element inside &lt;teiHeader&gt;.</sch:assert>
              </sch:rule>
              <sch:rule context="//tei:teiHeader//tei:titleStmt//tei:editor/@role">
                <sch:assert test=". = 'creator' or . = 'code-author' or . = 'content-author' or . = 'contributor'"> The acceptable attribute values for @role on the &lt;editor&gt; element inside
                  the &lt;titleStmt&gt; are: creator, code-author, content-author, or contributor.
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:teiHeader//tei:seriesStmt//tei:editor/@role">
                <sch:assert test=". = 'associate' or . = 'general' or . = 'technical' or . = 'past-associate' or . = 'past-general' or . = 'past-technical'"> The acceptable attribute values for @role on the &lt;editor&gt; element inside
                  the &lt;seriesStmt&gt; are: associate, general, technical, past-associate,
                  past-general, or past-technical. </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:body//tei:editor/@role">
                <sch:assert test=". = 'editor' or . = 'general' or . = 'translator'"> The acceptable
                  attribute values for @role on the &lt;editor&gt; element inside the &lt;body&gt;
                  are: editor, general, or translator. </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="date-past-editor" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:teiHeader//tei:seriesStmt//tei:editor[contains(@role, 'past')]">
                <sch:assert test="tei:date">An &lt;editor&gt; element with a "past" @role attribute must contain a &lt;date&gt; element.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="ref-on-editor" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:teiHeader//tei:editor">
                <sch:assert test="./@ref">A @ref attribute is required on the &lt;editor&gt; element
                  inside &lt;teiHeader&gt;.</sch:assert>
              </sch:rule>
              <sch:rule context="//tei:teiHeader//tei:editor/@ref">
                <sch:let name="edsDoc" value="doc('https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/editors.xml')"/>
                <sch:let name="eds" value="$edsDoc//tei:text/tei:body/tei:listPerson/tei:person/@xml:id"/>
                <sch:let name="refValues" value="for $i in $eds return concat('http://syriaca.org/documentation/editors.xml#', $i)"/>
                <sch:assert test="                   every $i in .                   satisfies $i = $refValues"> Acceptable values for the @ref attribute on an &lt;editor&gt; element inside the
                  &lt;teiHeader&gt; include: <sch:value-of select="string-join($refValues, ' | ')"/>. </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:body//tei:editor">
                <sch:report test="./@ref">A @ref attribute is not allowed on the &lt;editor&gt;
                  element inside &lt;body&gt;.</sch:report>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="ref" mode="change">
              <desc>Should contain the URI of a Syriaca.org editor from <ref target="http://syriaca.org/documentation/editors">this list</ref>.</desc>
            </attDef>
            <attDef ident="role" mode="change">
              <desc>Specifies the connection of the editor to the work, selected from
                http://syriaca.org/documentation/author-editor-roles.xml . The attribute value
                should contain the above URL followed by a hash (#) and the <att>xml:id</att> of the
                role. For example,
                http://syriaca.org/documentation/author-editor-roles.xml#translator . This is
                recommended, but not required if the type of connection is unknown.</desc>
              <valList type="closed" mode="replace">
                <valItem ident="associate">
                  <desc>An associate editor</desc>
                </valItem>
                <valItem ident="code-author">
                  <desc>The person responsible for the creation of the xml encoding</desc>
                </valItem>
                <valItem ident="content-author">
                  <desc>The person responsible for the content encoded in this document by another
                    person</desc>
                </valItem>
                <valItem ident="contributor">
                  <desc>A person who contributed some data but is not the main person responsible
                    for the document</desc>
                </valItem>
                <valItem ident="creator">
                  <desc>The main author responsible for the document</desc>
                </valItem>
                <valItem ident="editor">
                  <desc>An editor as defined by the Chicago Manual of Style</desc>
                </valItem>
                <valItem ident="general">
                  <desc>A general editor of a module</desc>
                </valItem>
                <valItem ident="past-associate">
                  <desc>A former associate editor</desc>
                </valItem>
                <valItem ident="past-general">
                  <desc>A former general editor of a module</desc>
                </valItem>
                <valItem ident="past-technical">
                  <desc>A former editor responsible for the data model</desc>
                </valItem>
                <valItem ident="technical">
                  <desc>An editor responsible for the data model</desc>
                </valItem>
                <valItem ident="translator">
                  <desc>The translator of a text</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <editor ref="http://syriaca.org/person/239" role="http://syriaca.org/documentation/author-editor-roles.xml#translator">
                <persName xml:lang="en">Gregorius Bar Hebraeus</persName> — <persName xml:lang="syr">ܓܪܝܓܘܪܝܘܣ ܒܪ ܥܒܪܝܐ</persName>
              </editor>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <editor role="creator" ref="http://syriaca.org/documentation/editors.xml#tcarlson">Thomas A. Carlson</editor>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <bibl xml:id="bib18-9">
                <title xml:lang="en">The Sixth Book of the Select Letters of Severus, Patriarch of
                  Antioch in the Syriac Version of Athanasius of Nisibis</title>
                <title type="sub">Translation, I.1 - II.3</title>
                <author>
                  <persName ref="http://syriaca.org/person/51">Severus of Antioch</persName>
                </author>
                <editor>
                  <persName ref="http://syriaca.org/person/403">E. W. Brooks</persName>
                </editor>
                <ptr target="http://syriaca.org/bibl/668"/>
                <citedRange unit="p">151</citedRange>
              </bibl>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <titleStmt>
                <title level="a" xml:lang="en">Telneshe — <foreign xml:lang="syr">ܬܠܢܫܐ</foreign>
                </title> ... <editor role="code-author" ref="http://syriaca.org/documentation/editors.xml#tcarlson">Thomas A.
                  Carlson</editor>
                <editor role="content-author" ref="http://syriaca.org/documentation/editors.xml#dboero">Dina Boero</editor>
                <respStmt>
                  <resp>Initial XML by</resp>
                  <name ref="http://syriaca.org/documentation/editors.xml#tcarlson">Thomas A.
                    Carlson</name>
                </respStmt>
                <respStmt>
                  <resp>Data submission by</resp>
                  <name ref="http://syriaca.org/documentation/editors.xml#dboero">Dina Boero</name>
                </respStmt>
                <respStmt>
                  <resp>Data submission review by</resp>
                  <name ref="http://syriaca.org/documentation/editors.xml#pforness">Philip
                    Forness</name>
                </respStmt>
              </titleStmt>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <seriesStmt>
                <title level="s" xml:lang="en">The Syriac Gazetteer</title>
                <editor role="general" ref="http://syriaca.org/documentation/editors.xml#dmichelson">
                  <persName>David A. Michelson</persName>, <date from="2014">2014-present</date>.</editor>
                <editor role="general" ref="http://syriaca.org/documentation/editors.xml#wpotter">
                  <persName>William L. Potter</persName>, <date from="2020">2020-present</date>.</editor>
                <editor role="technical" ref="http://syriaca.org/documentation/editors.xml#dschwartz">
                  <persName>Daniel L. Schwartz</persName>, <date from="2019">2019-present</date>.</editor>
                <editor role="past-general" ref="http://syriaca.org/documentation/editors.xml#tcarlson">
                  <persName>Thomas A. Carlson</persName>, <date from="2014" to="2018">2014-2018</date>
                </editor>
                <idno type="URI">http://syriaca.org/geo</idno>
              </seriesStmt>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> The <gi>editor</gi> element is used in three places in the Srophé App. In the
                <gi>teiHeader</gi> the editors of the document appear inside the <gi>titleStmt</gi>
              element while inside the <gi>seriesStmt</gi> the editors responsible for a series that
              the document might be a part of are listed. In the text of files, the <gi>editor</gi>
              element is used inside of <gi>bibl</gi> elements to indicated editors of works sited.
            </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="name" module="namesdates" mode="change">
          <constraintSpec ident="ref-on-name" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:teiHeader//tei:name">
                <sch:assert test="./@ref">A @ref attribute is required on the &lt;name&gt; element
                  inside &lt;teiHeader&gt;.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>

        <elementSpec ident="editionStmt" module="header" mode="change">
          <content>
            <elementRef key="edition" minOccurs="1" maxOccurs="1"/>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <editionStmt>
                <edition n="1.0"/>
              </editionStmt>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> The <gi>editionStmt</gi> allows the specification of an edition or version number.
              When a TEI file is first published online, that edition should be "1.0". Subsequent
              revisions may bump the revision number, either by a whole new version (i.e. to "2.0")
              or by a minor version (i.e. to "1.1"). </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="publicationStmt" module="header" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="authority" minOccurs="1"/>
              <elementRef key="idno" minOccurs="1"/>
              <elementRef key="availability" minOccurs="1"/>
              <elementRef key="date" minOccurs="1"/>
            </sequence>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <publicationStmt>
                <authority>Syriaca.org: The Syriac Reference Portal</authority>
                <idno type="URI">http://syriaca.org/place/1027/tei</idno>
                <availability>
                  <licence target="http://creativecommons.org/licenses/by/3.0/">
                    <p>Distributed under a Creative Commons Attribution 3.0 Unported License.</p>
                  </licence>
                </availability>
                <date>2014-01-14-05:00</date>
              </publicationStmt>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>publicationStmt</gi> is where we identify Syriaca.org as the entity
              responsible for publishing this information, indicate the date of the most recent
              edit, and identify the use license (Creative Commons CC-BY). The
                <gi>publicationStmt</gi> contains requires (in order) the following
                <gi>authority</gi>, <gi>idno</gi>, <gi>availability</gi>, and <gi>date</gi>. </p>
          </remarks>
        </elementSpec>


        <elementSpec ident="licence" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <license target="http://creativecommons.org/licenses/by/3.0/">
                <p>Distributed under a Creative Commons Attribution 3.0 Unported License.</p>
              </license>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <license target="http://creativecommons.org/licenses/by/3.0/">
                <p>Distributed under a Creative Commons Attribution 3.0 Unported License.</p>
                <p>This entry incorporates copyrighted material from the following work(s): <listBibl>
                    <bibl>
                      <ptr target="#bib78-3"/>
                    </bibl>
                    <bibl>
                      <ptr target="#bib78-4"/>
                    </bibl>
                    <bibl>
                      <ptr target="#bib78-5"/>
                    </bibl>
                  </listBibl>
                  <note>used under a Creative Commons Attribution license <ref target="http://creativecommons.org/licenses/by/3.0/"/>
                  </note>
                </p>
              </license>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> The <gi>license</gi> element within the <gi>availability</gi> element is used to
              specify the Creative Commons CC-BY license under which this record is made available.
              Some records incorporate information from works under copyright (with permission), a
              fact which is also indicated in the <gi>license</gi> element. </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="seriesStmt" module="header" mode="change">
          <content>
            <sequence minOccurs="0" maxOccurs="unbounded">
              <elementRef key="title" minOccurs="1" maxOccurs="1"/>
              <elementRef key="editor" minOccurs="1" maxOccurs="unbounded"/>
              <elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="idno" minOccurs="1" maxOccurs="1"/>
              <elementRef key="biblScope" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
          </content>
        </elementSpec>

        <elementSpec ident="biblScope" module="core" mode="change">
          <content>
            <elementRef key="title"/>
            <elementRef key="idno"/>
          </content>
          <attList>
            <attDef ident="unit" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="volume"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="change" usage="req"/>
          </attList>
        </elementSpec>

        <elementSpec ident="sourceDesc" module="header" mode="change">
          <content>
            <alternate>
              <elementRef key="biblStruct" minOccurs="1" maxOccurs="1"/>
              <elementRef key="msDesc" minOccurs="1" maxOccurs="1"/>
              <elementRef key="p" minOccurs="1" maxOccurs="1"/>
            </alternate>
          </content>
          <constraintSpec ident="sourceDesc" scheme="schematron">
            <!-- This should probably be moved to the Syriaca All ODD -->
            <constraint>
              <sch:rule context="//tei:sourceDesc/tei:p">
                <sch:assert test=". = 'Born digital.'"> The &lt;sourceDesc&gt; must contain a
                  &lt;p&gt; element with the text node: "Born digital.". </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <sourceDesc>
                <p>Born digital.</p>
              </sourceDesc>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <sourceDesc xml:id="sourceDesc1">
                <biblStruct>
                  <monogr>
                    <editor>
                      <forename>G. H.</forename>
                      <surname>Gwilliam</surname>
                    </editor>
                    <editor>
                      <forename>J.</forename>
                      <surname>Pinkerton</surname>
                    </editor>
                    <editor>
                      <forename>John</forename>
                      <surname>Gwynn</surname>
                    </editor>
                    <title level="m">The New Testament in Syriac [<foreign xml:lang="syr">ܕܝܬܝܩܐ
                        ܚܕܬܐ ܕܡܪܢ ܝܫܘܥ ܡܫܝܚܐ</foreign>]</title>
                    <idno type="URI">http://syriaca.org/bibl/2491</idno>
                    <idno type="zotero">1049</idno>
                    <idno type="URI">http://zotero.org/groups/392292/items/N4KFR4M9</idno>
                    <ref target="https://archive.org/details/newtestamentinsy00lond"/>
                    <imprint>
                      <pubPlace>London</pubPlace>
                      <publisher>British and Foreign Bible Society</publisher>
                      <date>1905</date>
                    </imprint>
                  </monogr>
                </biblStruct>
              </sourceDesc>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <sourceDesc>
                <biblStruct>
                  <monogr>
                    <title level="m">Gorgias Encyclopedic Dictionary of the Syriac Heritage</title>
                    <editor>Sebastian P. Brock</editor>
                    <editor>Aaron M. Butts</editor>
                    <editor>George A. Kiraz</editor>
                    <editor>Lucas Van Rompay</editor>
                    <imprint>
                      <pubPlace>Piscataway, N.J.</pubPlace>
                      <publisher>Gorgias Press for Beth Mardutho: The Syriac Institute</publisher>
                      <date>2011</date>
                      <note>Copyright ©2011 by Beth Mardutho: The Syriac Institute</note>
                      <note>ISBN: 978-1-59333-714-8</note>
                    </imprint>
                  </monogr>
                </biblStruct>
              </sourceDesc>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>sourceDesc</gi> element is a mandatory component of the <gi>fileDesc</gi>
              element. Its purpose is to indicate the source of the text which is encoded in this
              file, for library cataloging among other uses. For Syriaca.org data that is not
              marking up text from a source, the option of indicating that this TEI is "born
              digital," should be used. For text encoding projects</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="encodingDesc" module="header" mode="change">
          <content>
            <sequence preserveOrder="true" minOccurs="1" maxOccurs="1">
              <elementRef key="editorialDecl" minOccurs="1" maxOccurs="1"/>
              <elementRef key="classDecl" minOccurs="0" maxOccurs="1"/>
            </sequence>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <encodingDesc>
                <editorialDecl>
                  <p>This record has been created following the Syriaca.org editorial guidelines.
                    Documentation is available at: <ref target="http://syriaca.org/documentation">http://syriaca.org/documentation</ref>. <title>The Syriac Gazetteer</title>
                    was encoded using both the general editorial guidelines for all publications of
                    Syriaca.org and an encoding schema specific to <title>The Syriac
                      Gazetteer</title>.</p>
                  <p>Approximate dates described in terms of centuries or partial centuries have
                    been interpreted into quantitative values as documented in the Syriaca.org
                    guidelines for normalization of dates. See <ref target="http://syriaca.org/documentation/dates.html">Syriaca.org Guidelines
                      for Approximate Dates</ref>.</p>
                  <p>The <gi>state</gi> element of @type="existence" indicates the period for which
                    this place was in use as a place of its indicated type (e.g. an inhabited
                    settlement, a functioning monastery or church, an administrative province).
                    While it is possible to indicate a source for this date, this date is usually
                    based on the estimate of the editors and provided as an aid to searching. As a
                    practice, attested dates for a place based on historical sources have instead
                    been encoded more precisely using <gi>event</gi> of @type="attestation". Natural
                    features which have always existed have no date on the <gi>state</gi> element of
                    @type="existence" since they are are presumed to have always existed throughout
                    recorded history.</p>
                  <p>In some cases, maps from print publications have been used as the basis for
                    coordinate data in <title>The Syriac Gazetteer</title>. In two instances, the
                    editors of such print maps provided the digital coordinate data used to prepare
                    the print maps. Specifically, coordinates which are attributed to <title>The
                      Gorgias Encyclopedic Dictionary of the Syriac Heritage</title> (<ref target="http://syriaca.org/bibl/1">http://syriaca.org/bibl/1</ref>) or to
                      <title>The Syriac World</title> (<ref target="http://syriaca.org/bibl/PUTG99V4">http://syriaca.org/bibl/PUTG99V4</ref>) were extracted from the KML files
                    used to create the print maps for those volumes. Because only the print maps
                    were published, the citation for these coordinates refers to the print source.
                    The editors of the <title>The Syriac Gazetteer</title> are grateful to the
                    editors of <title>The Gorgias Encyclopedic Dictionary of the Syriac
                      Heritage</title> and <title>The Syriac World</title> for providing these
                    coordinate files.</p>
                  <p>The editors have silently normalized data from other sources in some cases. The
                    primary instances are listed below.</p>
                  <p>The capitalization of names from <title>The Gorgias Encyclopedic Dictionary of
                      the Syriac Heritage</title> (<ref target="http://syriaca.org/bibl/1">http://syriaca.org/bibl/1</ref>) was normalized silently (i.e. names in
                    ALL-CAPS were replaced by Proper-noun capitalization).</p>
                  <p>The unchanging parts of alternate names from the editions and translations of
                    Barsoum, <title>The Scattered Pearls: A History of Syriac Literature and
                      Sciences</title> (<ref target="http://syriaca.org/bibl/2">http://syriaca.org/bibl/2</ref>, <ref target="http://syriaca.org/bibl/3">http://syriaca.org/bibl/3</ref>, or <ref target="http://syriaca.org/bibl/4">http://syriaca.org/bibl/4</ref>) have been supplied silently.</p>
                  <p>Names from the English translation of Barsoum, <title>The Scattered Pearls: A
                      History of Syriac Literature and Sciences</title> (<ref target="http://syriaca.org/bibl/4">http://syriaca.org/bibl/4</ref>) were
                    silently transformed into sentence word order rather than the headword
                    alphabetization used by Barsoum. Commas were silently removed.</p>
                </editorialDecl>
                <classDecl>
                  <taxonomy>
                    <category xml:id="syriaca-headword">
                      <catDesc>The name used by Syriaca.org for document titles, citation, and
                        disambiguation. These names have been created according to the Syriac.org
                        guidelines for headwords: <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.</catDesc>
                    </category>
                  </taxonomy>
                </classDecl>
              </encodingDesc>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <encodingDesc>
                <editorialDecl>
                  <p>This record has been created following the Syriaca.org editorial guidelines.
                    Documentation is available at: <ref target="http://syriaca.org/documentation">http://syriaca.org/documentation</ref>. <title>The Syriac Gazetteer</title>
                    was encoded using both the general editorial guidelines for all publications of
                    Syriaca.org and an encoding schema specific to <title>The Syriac
                      Gazetteer</title>.</p>
                  <p>Approximate dates described in terms of centuries or partial centuries have
                    been interpreted into quantitative values as documented in the Syriaca.org
                    guidelines for normalization of dates. See <ref target="http://syriaca.org/documentation/dates.html">Syriaca.org Guidelines
                      for Approximate Dates</ref>.</p>
                  <p>The <gi>state</gi> element of @type="existence" indicates the period for which
                    this place was in use as a place of its indicated type (e.g. an inhabited
                    settlement, a functioning monastery or church, an administrative province).
                    While it is possible to indicate a source for this date, this date is usually
                    based on the estimate of the editors and provided as an aid to searching. As a
                    practice, attested dates for a place based on historical sources have instead
                    been encoded more precisely using <gi>event</gi> of @type="attestation". Natural
                    features which have always existed have no date on the <gi>state</gi> element of
                    @type="existence" since they are are presumed to have always existed throughout
                    recorded history.</p>
                  <p>In some cases, maps from print publications have been used as the basis for
                    coordinate data in <title>The Syriac Gazetteer</title>. In two instances, the
                    editors of such print maps provided the digital coordinate data used to prepare
                    the print maps. Specifically, coordinates which are attributed to <title>The
                      Gorgias Encyclopedic Dictionary of the Syriac Heritage</title> (<ref target="http://syriaca.org/bibl/1">http://syriaca.org/bibl/1</ref>) or to
                    <title>The Syriac World</title> (<ref target="http://syriaca.org/bibl/PUTG99V4">http://syriaca.org/bibl/PUTG99V4</ref>) were extracted from the KML files
                    used to create the print maps for those volumes. Because only the print maps
                    were published, the citation for these coordinates refers to the print source.
                    The editors of the <title>The Syriac Gazetteer</title> are grateful to the
                    editors of <title>The Gorgias Encyclopedic Dictionary of the Syriac
                      Heritage</title> and <title>The Syriac World</title> for providing these
                    coordinate files.</p>
                  <p>The editors have silently normalized data from other sources in some cases. The
                    primary instances are listed below.</p>
                  <p>The capitalization of names from <title>The Gorgias Encyclopedic Dictionary of
                    the Syriac Heritage</title> (<ref target="http://syriaca.org/bibl/1">http://syriaca.org/bibl/1</ref>) was normalized silently (i.e. names in
                    ALL-CAPS were replaced by Proper-noun capitalization).</p>
                  <p>The unchanging parts of alternate names from the editions and translations of
                    Barsoum, <title>The Scattered Pearls: A History of Syriac Literature and
                      Sciences</title> (<ref target="http://syriaca.org/bibl/2">http://syriaca.org/bibl/2</ref>, <ref target="http://syriaca.org/bibl/3">http://syriaca.org/bibl/3</ref>, or <ref target="http://syriaca.org/bibl/4">http://syriaca.org/bibl/4</ref>) have been supplied silently.</p>
                  <p>Names from the English translation of Barsoum, <title>The Scattered Pearls: A
                    History of Syriac Literature and Sciences</title> (<ref target="http://syriaca.org/bibl/4">http://syriaca.org/bibl/4</ref>) were
                    silently transformed into sentence word order rather than the headword
                    alphabetization used by Barsoum. Commas were silently removed.</p>
                </editorialDecl>
                ...
              </encodingDesc>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The <gi>encodingDesc</gi> element of the <gi>teiHeader</gi> is used for indicating
              aspects of the process of encoding the text. Even data are "born digital," they
              nevertheless have certain editorial decisions regarding how they have used data
              derived from print resources, and certain tags available for use in our
                <att>srophe:tags</att> attribute. Those sorts of details are encoded here.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="editorialDecl" module="header" mode="change">
          <content>
            <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
            <elementRef key="interpretation" minOccurs="0" maxOccurs="1"/>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <encodingDesc>
                <editorialDecl>
                  <p>This record created following the Syriaca.org guidelines. Documentation
                    available at: <ref target="http://syriaca.org/documentation">
                      http://syriaca.org/documentation</ref>.</p>
                  <p>The capitalization of names from GEDSH (<idno type="URI">http://syriaca.org/bibl/1</idno>) was normalized (i.e. names in ALL-CAPS were
                    replaced by Proper-noun capitalization).</p>
                  <p>The unchanging parts of alternate names from Barsoum (<idno type="URI">http://syriaca.org/bibl/2</idno>, <idno type="URI">http://syriaca.org/bibl/3</idno>, or <idno type="URI">http://syriaca.org/bibl/4</idno>) have been supplied to each alternate.</p>
                  <p>Names from the English translation of Barsoum (<idno type="URI">http://syriaca.org/bibl/4</idno>) were put in sentence word order rather than
                    fronting a dictionary headword. Any commas in the Barsoum name in English were
                    removed.</p>
                  <p>The <gi>state</gi> element of @type="existence" indicates the period for which
                    this place was in use as a place of its indicated type (e.g. an inhabited
                    settlement, a functioning monastery or church, an administrative province).
                    Natural features always in existence have no <gi>state</gi> element of
                    @type="existence".</p> ... </editorialDecl> ... </encodingDesc>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>The first element within an <gi>encodingDesc</gi> is the <gi>editorialDecl</gi>,
              which indicates editorial decisions regarding how the source documents were handled.
              An <gi>editorialDecl</gi> cannot directly contain prose, so a prose description of
              each editorial decision should be wrapped in a <gi>p</gi> element. References to
              particular bibliographic entries can have their Syriaca.org URIs wrapped in an
                <gi>idno</gi> for specificity. The first <gi>p</gi> element should contain a pointer
              to the Syriaca.org documentation.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="text" module="textstructure" mode="change">
          <classes mode="change">
            <!-- all deleted -->
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.global.rendition" mode="delete"/>
            <memberOf key="att.global.linking" mode="delete"/>
            <memberOf key="att.global.facs" mode="delete"/>
            <memberOf key="att.global.change" mode="delete"/>
            <memberOf key="att.global.responsibility" mode="delete"/>
            <memberOf key="att.global.source" mode="delete"/>
            <memberOf key="att.declaring" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
            <memberOf key="att.written" mode="delete"/>
          </classes>
          <constraintSpec ident="source-in-text" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:text//@source">
                <sch:let name="biblIDs" value="//tei:body//tei:bibl/@xml:id | //tei:body//tei:listBibl/@xml:id"/>
                <sch:let name="sourceValues" value="for $i in $biblIDs return concat('#', $i)"/>
                <sch:assert test="                   every $i in (tokenize(., ' '))                   satisfies $i = $sourceValues"> A @source attribute must point to an @xml:id attribute on a &lt;bibl&gt;
                  element or a &lt;listBibl&gt; element. Multiple values are allowed and must be separated by a blank space.
                  Acceptable values include: <sch:value-of select="string-join($sourceValues, ' | ')"/>. </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <text>
                <body>
                  <listPlace>
                    <place type="diocese">
                      <placeName resp="http://syriaca.org" xml:id="name3053-1" xml:lang="en" srophe:tags="#syriaca-headword">Arethusa</placeName>
                      <placeName resp="http://syriaca.org" xml:id="name3053-2" xml:lang="syr" srophe:tags="#syriaca-headword">ܐܪܝܣܬܢ</placeName>
                      <placeName xml:id="name3053-3" xml:lang="en" source="#bib3053-1">Arethusa</placeName>
                      <placeName xml:id="name3053-4" xml:lang="syr" source="#bib3053-2">ܐܪܝܣܬܢ</placeName>
                      <desc type="abstract" xml:id="abstract3053-1" xml:lang="en">The diocese associated with the city of Arethusa</desc>
                      <state resp="http://syriaca.org" type="existence"/>
                      <idno type="URI">http://syriaca.org/place/3053</idno>
                      <bibl xml:id="bib3053-1">
                        <ptr target="http://syriaca.org/bibl/668"/>
                        <citedRange unit="p">73</citedRange>
                      </bibl>
                      <bibl xml:id="bib3053-2">
                        <ptr target="http://syriaca.org/bibl/666"/>
                        <citedRange unit="p">81</citedRange>
                      </bibl>
                    </place>
                  </listPlace>
                </body>
              </text>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> The data of the record is contained within the <gi>text</gi> element. The Srophé App requires that all 
              <att>source</att> attributes inside the <gi>text</gi> element point to an <att>xml:id</att> attribute on 
              a <gi>bibl</gi> or <gi>listBibl</gi> element.
            </p>
          </remarks>
        </elementSpec>


        <elementSpec ident="note" module="core" mode="change">
          <constraintSpec ident="xmlLang-in-note" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:body//tei:note">
                <sch:assert test="./@xml:lang"> All &lt;note&gt; elements in the &lt;body&gt; must
                  have an @xml:lang attribute. </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <desc>Describes the function of the note. This attribute is recommended and determines
                how the note is displayed on the page.</desc>
              <valList mode="replace" type="closed">
                <valItem ident="corrigenda">
                  <desc>A note describing how the record should be corrected or read
                    differently.</desc>
                </valItem>
                <valItem ident="deprecation">
                  <desc>A note logging the reason(s) for deprecating a particular data point.</desc>
                </valItem>
                <valItem ident="disambiguation">
                  <desc>A note to help distinguish this entity (person, place, work, etc.) from
                    another one.</desc>
                </valItem>
                <valItem ident="errata">
                  <desc>A note describing data that is included in the record but is known to be
                    incorrect.</desc>
                </valItem>
                <valItem ident="incerta">
                  <desc>A note describing uncertain data in the record.</desc>
                </valItem>
                <valItem ident="license">
                  <desc>A note describing the license under which this file is released.</desc>
                </valItem>
                <valItem ident="misc">
                  <desc>A note that cannot be categorized as any other type.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <remarks mode="add">
            <p>The <gi>note</gi> element is used for a variety of notes about the entity described in the data. 
              All <gi>note</gi> elements must have an <att>xml:lang</att> attribute that facilitates the display of notes by 
              language in The Srophé Application. A <att>type</att> attribute is required and determines how the note is displayed on
              the page. Available values for this <att>type</att> attribute are: corrigenda, deprecation, disambiguation, errata, incerta
              license, and misc. Only certain values are allowed in certain contexts within the document. 
            </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="link" module="linking" mode="change">
          <classes mode="change">
            <!-- all deleted -->
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.global.rendition" mode="delete"/>
            <memberOf key="att.global.linking" mode="delete"/>
            <memberOf key="att.global.facs" mode="delete"/>
            <memberOf key="att.global.change" mode="delete"/>
            <memberOf key="att.global.responsibility" mode="delete"/>
            <memberOf key="att.global.source" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <constraintSpec ident="target-on-link" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:link/@target">
                <sch:let name="allIDs" value="//@xml:id"/>
                <sch:let name="targetVals" value="for $i in $allIDs return concat('#', $i)"/>
                <sch:assert test="                   every $i in (tokenize(., ' '))                   satisfies $i = $targetVals">A &lt;link&gt; element takes a @target attribute with two or more of the
                  following values: <sch:value-of select="string-join($targetVals, ' | ')"/>.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="targetLang" mode="delete"/>
            <attDef ident="evaluate" mode="delete"/>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <event type="attestation" xml:id="attestation2567-2" when="0473" srophe:computed-start="0473-01-01" srophe:computed-end="0473-12-31" source="#bib2567-4">
                <p xml:lang="en">Attestation of name <foreign xml:lang="syr">ܬܠܢܫܝܢ</foreign> in <title>Vatican Syriac 160</title>.</p>
                <link target="#name2567-4 #attestation2567-2"/>
              </event>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <event type="attestation" xml:id="attestation78-6" when="0520" source="#bib78-10" srophe:computed-start="0520-01-01" srophe:computed-end="0520-01-01">
                <p xml:lang="en">Attestation of anti-Chalcedonian bishop in Edessa according to the <title ref="http://syriaca.org/work/119">Chronicle of Edessa</title>.</p>
                <link target="#confession78-1 #attestation78-6"/>
              </event>
            </egXML>
          </exemplum>
          <remarks>
            <p>
              The <gi>link</gi> element is used to link two pieces of data together, for example an event and the 
              attestation of a name variant. It must point to an <att>xml:id</att> within the current document.
            </p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="state" module="namesdates" mode="change">
          <classes mode="change">
            <memberOf key="att.datable.iso" mode="delete"/>
            <memberOf key="att.global.rendition" mode="delete"/><!-- not deleted -->
            <memberOf key="att.global.linking" mode="delete"/><!-- not deleted -->
            <memberOf key="att.global.facs" mode="delete"/><!-- deleted -->
            <memberOf key="att.global.change" mode="delete"/><!-- deleted -->
            <memberOf key="att.global.responsibility" mode="delete"/>
            <memberOf key="att.editLike" mode="delete"/><!-- deleted -->
            <memberOf key="att.dimensions" mode="delete"/><!-- deleted -->
            <memberOf key="att.ranging" mode="delete"/><!-- deleted -->
          </classes>
          <content>
            <elementRef key="p" minOccurs="0" maxOccurs="1"/>
            <elementRef key="label" minOccurs="0"/>
            <elementRef key="precision" minOccurs="0" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="notAfter" mode="delete"/>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter-custom" mode="delete"/>
            <attDef ident="notBefore-custom" mode="delete"/>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <state resp="http://syriaca.org" type="existence" from="0400" to="0473" srophe:computed-start="0400-01-01" srophe:computed-end="0473-0101">
                <precision match="@from" notAfter="0420" srophe:computed-end="0420-01-01"/>
                <precision match="@to" notBefore="0473" srophe:computed-start="0473-01-01"/>
              </state>
            </egXML>
          </exemplum>
        </elementSpec>

        <elementSpec ident="precision" module="certainty" mode="change">
          <classes mode="change">
            <!-- all deleted -->
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.global.rendition" mode="delete"/>
            <memberOf key="att.global.linking" mode="delete"/>
            <memberOf key="att.global.facs" mode="delete"/>
            <memberOf key="att.global.change" mode="delete"/>
            <memberOf key="att.global.responsibility" mode="delete"/>
            <memberOf key="att.global.source" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="target" mode="delete"/>
            <attDef ident="match" mode="change" usage="req">
              <valList type="closed">
                <valItem ident="@from">
                  <desc>describes the precision of the @from attribute on the parent element</desc>
                </valItem>
                <valItem ident="@to">
                  <desc>describes the precision of the @to attribute on the parent element</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <state resp="http://syriaca.org" type="existence" from="0300" to="0527" srophe:computed-end="0527-01-01" srophe:computed-start="0300-01-01">
                <precision match="@from" notAfter="0300" srophe:computed-end="0300-01-01"/>
                <precision match="@to" notAfter="1943" notBefore="0527" srophe:computed-end="1943-01-01" srophe:computed-start="0527-01-01"/>
              </state>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <state type="existence" from="0270" to="0694" syriaca-computed-end="0694-01-01" syriaca-computed-start="0270-01-01">
                <precision match="@from" notAfter="0270" syriaca-computed-end="0270-01-01"/>
                <precision match="@to" notAfter="1200" notBefore="0694" syriaca-computed-end="1200-01-01" syriaca-computed-start="0694-01-01"/>
              </state>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p> 
              The Srophé Application does not permit @notBefore and @notAfter on the <gi>state</gi> element. In the many cases where the precise beginning 
              or ending dates are not known, the range of possible beginning dates or ending dates must be given within a <gi>precision</gi> 
              element within <gi>state</gi>. This <gi>precision</gi> element will have a <att>match</att> attribute whose value is either 
              "@from" or "@to" (depending on whether the beginning or ending date is uncertain). This <gi>precision</gi> element can take <att>notBefore</att> to indicate the terminus post quem and 
              <att>notAfter</att> to indicate the terminus ante quem of the range of uncertainty. If, as is not uncommon, both the beginning 
              and the end of the place’s existence are uncertain, these uncertainties should be represented by separate <gi>precision</gi> 
              elements. When a <gi>precision</gi> element is used, the value of the <att>from</att> or <att>to</att> elements on the parent 
              <gi>state</gi> should be within the range specified by the <gi>precision</gi> element but should be interpreted as imprecise. 
            </p>
            <p>
              Note: The dates indicated in the <gi>precision</gi> element(s) are used for search but the Srophé Application does not 
              currently display them in the HTML.
            </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="author" module="core" mode="change">
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <elementRef key="persName"/>
              <textNode/>
            </alternate>
          </content>
          <remarks mode="add">
            <p> The <gi>author</gi> element may contain either a <gi>persName</gi> element or text.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="citedRange" module="core" mode="change">
          <attList>
            <attDef ident="unit" mode="change" usage="req">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="col">
                  <desc>the element identifies a column or column range.</desc>
                </valItem>
                <valItem ident="entry">
                  <desc>the element identifies an entry in a collection such as an reference
                    work.</desc>
                </valItem>
                <valItem ident="fol">
                  <desc>the element identifies a folio number or folio range</desc>
                </valItem>
                <valItem ident="line">
                  <desc>the element contains a line number or line range.</desc>
                </valItem>
                <valItem ident="map">
                  <desc>the element identifies a map.</desc>
                </valItem>
                <valItem ident="part">
                  <desc>the element contains a part of a book or collection, i.e. chapter and verse
                    of a biblical text.</desc>
                </valItem>
                <valItem ident="p">
                  <desc>the element contains a page number or page range.</desc>
                </valItem>
                <valItem ident="section">
                  <desc>the element identifies a section of a text.</desc>
                </valItem>
                <valItem ident="vol">
                  <desc>the element identifies a volume of a multi-volume work.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <remarks mode="add">
            <p>The <gi>citedRange</gi> is used to indicate the portion of a text is being cited in a bibliographic reference. 
              It requires a <att>unit</att> attribute with one of the following values: col, entry, fol, line, map, part, p, section, and vol.</p>
          </remarks>
        </elementSpec>

        <elementSpec ident="p" module="core" mode="change">
          <constraintSpec ident="lang-on-p-in-body" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:text//tei:p">
                <sch:assert test="./@xml:lang">A &lt;p&gt; element in the text body must have an
                  @xml:lang attribute.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <event type="attestation" xml:id="attestation2567-1" when="0473" srophe:computed-start="0473-01-01" srophe:computed-end="0473-12-31" source="#bib2567-3">
                <p xml:lang="en">Attestation of name <foreign xml:lang="syr">ܬܠܢܫܐ</foreign> in <title>Vatican Syriac 160</title>.</p>
                <link target="#name2567-2 #attestation2567-1"/>
              </event>
            </egXML>
          </exemplum>
          <remarks mode="add">
            <p>
              The <gi>p</gi> element is used for paragraphs of text in various contexts. In the body of a record, the <gi>p</gi> element must have an 
              <att>xml:id</att> attribute. 
            </p>
          </remarks>
        </elementSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>