documentation/schemas/syriacaPersons.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="syriacaPersons" prefix="tei_" source="syriacaAll.compiled.odd" xml:lang="en" defaultExceptions="http://www.tei-c.org/ns/1.0 teix:egXML​ http://www.example.org/ns/">
        <moduleRef key="tei"/>
        <moduleRef key="certainty" include="precision"/>
        <moduleRef key="core" include="abbr author bibl biblScope choice citedRange corr date desc editor foreign label listBibl name note orig p ptr quote reg ref resp respStmt sic title"/>
        <moduleRef key="header" include="authority availability catDesc category change classDecl edition editionStmt editorialDecl encodingDesc fileDesc funder idno interpretation langUsage licence principal profileDesc publicationStmt revisionDesc seriesStmt sourceDesc sponsor taxonomy teiHeader titleStmt"/>
        <moduleRef key="linking" include="link"/>
        <moduleRef key="namesdates" include="addName birth death event floruit forename gender lang listPerson listRelation occupation orgName persName person personGrp place placeName relation roleName state surname trait"/>
        <moduleRef key="textstructure" include="back body div front TEI text"/>
      </schemaSpec>
      
      <elementSpec ident="person" module="namesdates" mode="change">
        <classes mode="change">
          <memberOf key="att.global.analytic" mode="add"/>
        </classes>
        
      </elementSpec>
      
      <elementSpec ident="gender" module="namesdates" mode="change">
        <classes mode="change">
          <memberOf key="att.global.analytic" mode="add"/>
        </classes>
        
      </elementSpec>
      
      <elementSpec ident="idno" module="header" mode="change">
        <classes mode="change">
          <memberOf key="att.global.change" mode="add"/>
        </classes>
        
      </elementSpec>
      
      
      
    </body>
  </text>
</TEI>
